<!-- <button onclick="location.href='/'" type="button">Home Page</button>
<button onclick="location.href='/about'" type="button">About Page</button>
<button onclick="location.href='/help'" type="button">Help Page</button> -->
<!-- <a class="btn" href="/">Home Page</a>
<a class="btn" href="/about">About</a>
<a class="btn" href="/help.html">Help Page</a> -->
<a href="/" class="btn btn-primary" role="button">Homepage</a>
<a href="/about" class="btn btn-success" role="button">about page</a>
<a href="/help" class="btn btn-info" role="button">help page</a>
