<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to the homepage</h1>
    {{> links}}
    <p>This is my first webapp and i am super exited :D</p>
  </body>
  {{> footer}}
</html>
